{{ define "main" }}
<div class = "hero_container">
<div class="row">
  <div class="col">
    <h1>{{ title .Title }}</h1>
  </div>
</div>

<div class = "row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-3">
      {{- if and (isset .Params "thumbnail") (ne .Params.image "") -}}
        {{- if (eq (slicestr .Params.image 0 4) "http") -}}
          <a href="{{ .Params.image }}"><img alt="{{ .Title }}" src="{{ .Params.thumbnail }}" class="img-fluid episode_image"/></a>
          {{- else -}}
          <a href="{{ .Params.image }}"><img alt="{{ .Title }}" src="{{ .Params.thumbnail | absURL}}" class="img-fluid episode_image"/></a>
        {{- end -}}
        {{- else -}}
        <img alt="{{ .Title }}" src="{{ "img/guest/default-guest.png" | absURL }}" class="img-fluid episode_image"/>
      {{- end -}}
      </div>
      <div class="col-md-8">
        <div class = "row">
          <div class="col">
            {{ .Content | markdownify }}
          </div>
        </div>
        <div class = "row">
          <div class = "col guest_social_icons">
            {{ if .Params.Website }}
              <a href="{{ .Params.Website }}">
                <i class="fas fa-home fa-2x"></i>
              </a>
            {{ end }}
            {{ if .Params.Twitter }}
              <a href="https://twitter.com/{{ .Params.Twitter }}">
                <i class="fab fa-twitter-square fa-2x"></i>
              </a>
            {{ end }}
            {{ if .Params.GitHub }}
              <a href="https://github.com/{{ .Params.GitHub}}">
                <i class="fab fa-github-square fa-2x"></i>
              </a>
            {{ end }}
            {{ if .Params.Pinterest }}
              <a href="https://www.pinterest.com/{{ .Params.Pinterest}}">
                <i class="fab fa-pinterest-square fa-2x"></i>
              </a>
            {{ end }}
            {{ if .Params.Instagram }}
              <a href="https://www.instagram.com/{{ .Params.Instagram}}">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            {{ end }}
            {{ if .Params.YouTube }}
              <a href="https://www.youtube.com/{{ .Params.YouTube}}">
                <i class="fab fa-youtube-square fa-2x"></i>
              </a>
            {{ end }}
          </div>
        </div>
      </div>
      </div>
      </div>
    <div class="col-lg-4">
    <div class = "row">
      <div class="col">
        <h3>{{ .Title }} helped make:</h3>
        <div class="list-group guest_episode_list">
            {{ $.Scratch.Set "worker-name" .File.BaseFileName }}
            {{ range $page := where $.Site.Pages "Type" "parts" }}
              {{ range $page.Params.workers }}
                {{ if eq  . ($.Scratch.Get "worker-name") }}
                    <a href = "{{$page.Permalink}}" class = "guest_page_episode_link list-group-item list-group-item-action">{{$page.Title}}</a>
                {{ end }}
              {{ end }}
            {{ end }}
            {{- with .Params.Aka -}}
              {{ range $name := . }}
                {{- $.Scratch.Set "worker-name" $name -}}
                {{- range $page := where $.Site.Pages "Type" "parts" -}}
                  {{- range $page.Params.workers -}}
                    {{- if eq  . ($.Scratch.Get "worker-name") -}}
                        <a href = "{{$page.Permalink}}" class = "guest_page_episode_link list-group-item list-group-item-action">{{$page.Title}}</a>
                    {{- end -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
        </div>
      </div>
    </div>
    </div>
</div>
      <!-- pager begin -->
      <div class="row">
        <div class="col-md-12">
          <nav>
            <ul class="pagination">
              {{ if .NextInSection }}
                <li class="page-item">
                  <a href="{{.NextInSection.Permalink}}" class="page-link">
                    <span aria-hidden="true">&larr;</span> Previous
                  </a>
                </li>
              {{ else }}
                <li class="page-item disabled">
                  <a href="#" class="page-link">
                    <span aria-hidden="true">&larr;</span>
                    Previous</a>
                </li>
              {{ end }}
              {{ if .PrevInSection }}
                <li class="page-item">
                  <a href="{{.PrevInSection.Permalink}}" class="page-link">
                    Next <span aria-hidden="true">&rarr;</span></a>
                </li>
              {{ else }}
                <li class="page-item disabled">
                  <a href="#" class="page-link">Next
                    <span aria-hidden="true">&rarr;</span>
                  </a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
      <!-- pager end -->
</div>
{{ end }}
