{{ define "main" }}

<div class="row">
  <div class="col-md-12">
    <h1>{{ title .Title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ .Content }}
  </div>
</div>
        <!-- pager begin -->
        <div class="col-md-12">
          <nav>
            <ul class="pagination">
              {{ if .PrevInSection }}
                <li class="page-item">
                  <a href="{{.PrevInSection.Permalink}}" class="page-link">
                    <span aria-hidden="true">&larr;</span>
                    Previous</a>
                </li>
              {{ end }}
              {{ if .NextInSection }}
                <li class="page-item">
                  <a href="{{.NextInSection.Permalink}}" class="page-link">Next
                    <span aria-hidden="true">&rarr;</span>
                  </a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
      <!-- pager end -->
{{ end }}
